@import url('https://ui.dev/font');

:root {
  --black: #000;
  --white: #fff;
  --red: #f32827;
  --purple: #a42ce9;
  --blue: #2d7fea;
  --yellow: #f4f73e;
  --pink: #eb30c1;
  --gold: #ffd500;
  --aqua: #2febd2;
  --gray: #282c35;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* border:1px solid red; */
}

html {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

ul,div,p {
  padding-left: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.border-container {
  padding: 0;
  margin: 0;
  display: flex;
}

.border-item {
  width: 20vw;
  height: 12px;
}

.active {
font-weight: bold;
}

.loginCenter {
  margin: auto;
  width: 50%;
}

.center {
  margin: auto;
  width: 60%;
}

.avatar {
  height: 80px;
  border-radius: 50px;
  margin-left: 10px;
  display: block;
}

.topAvatar {
  height: 40px;
  border-radius: 20px;
}

.top {
  top: 10px;
  float: right;
}

.logout {
  cursor: pointer;
}

.question-container {
  margin: auto;
  width: 100%;
}

.quizView-container {
  margin: auto;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pollView-container {
  margin: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quiz-title {
  font-size: 20px;
}

.quiz-btn {
  width: 100%;
}

.helper {
  display: block;
  margin: auto;
}

